flows (2).json
[
    {
        "id": "4d807c239f67c680",
        "type": "tab",
        "label": "Système du récolte intélligent ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5eb4034d22709d33",
        "type": "ui_template",
        "z": "4d807c239f67c680",
        "group": "04a6154a4b09f197",
        "name": "Az",
        "order": 1,
        "width": 6,
        "height": 1,
        "format": "<style>\n    /*Main background*/\n    body {\n        background: -webkit-linear-gradient(55deg,\n                #009785 0%,\n                #245aa5 50%,\n                #b800e9 100%);\n    }\n\n    /*Top bar*/\n    body.nr-dashboard-theme md-toolbar,\n    body.nr-dashboard-theme md-content md-card {\n        background-color: transparent !important;\n        color: #FFFFFF !important;\n    }\n\n\n    /*Left menu*/\n    /*Sidebar*/\n    body.nr-dashboard-theme md-sidenav {\n        color: white !important;\n        background-color: rgba(0, 0, 0, 0) !important;\n    }\n\n    /*Hover selection*/\n    a.md-no-style,\n    button.md-no-style {\n        border-radius: 10px !important;\n    }\n\n    /*Selected*/\n    .nr-menu-item-active div button {\n        border-right: 4px solid rgb(41 98 255) !important;\n    }\n\n    /*List*/\n    body.nr-dashboard-theme md-sidenav div.md-list-item-inner {\n        color: white !important;\n        background-color: rgba(40, 85, 165, 1) !important;\n        border-radius: 10px !important;\n    }\n\n\n    /*Groups*/\n    ui-card-panel {\n        background-color: rgba(255, 255, 255, 0.1) !important;\n        border-radius: 10px !important;\n    }\n\n    .nr-dashboard-theme ui-card-panel {\n        border: none !important;\n    }\n\n    /*Name groups*/\n    .nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n        color: rgba(255, 255, 255, 0.5) !important;\n    }\n\n\n    /*Buttons*/\n    .nr-dashboard-theme .nr-dashboard-button .md-button {\n        background-color: rgba(255, 255, 255, .1) !important;\n    }\n\n    .md-button {\n        border-radius: 10px !important;\n    }\n\n\n    /*Dropdown menu*/\n    .nr-dashboard-theme md-select-menu {\n        background-color: rgba(40, 85, 165, 1) !important;\n    }\n\n    .nr-dashboard-theme md-select-menu,\n    .nr-dashboard-theme md-select-menu md-option {\n        background-color: transparent !important;\n    }\n\n    .nr-dashboard-theme .md-select-menu-container {\n        border-radius: 10px !important;\n        border: none !important;\n    }\n\n    .nr-dashboard-theme md-select-menu md-option[selected] {\n        color: white !important;\n        background-color: #1a3566 !important;\n    }\n\n    /*Template*/\n    md-card>img,\n    md-card>md-card-header img,\n    md-card md-card-title-media img {\n        border-radius: 10px !important;\n    }\n\n    /* Color picker text BG */\n    .nr-dashboard-theme .color-picker-input-wrapper>input {\n        color: white !important;\n        background-color: transparent !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 1310,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "8b2ab45cf710952c",
        "type": "ui_chart",
        "z": "4d807c239f67c680",
        "name": "",
        "group": "04a6154a4b09f197",
        "order": 2,
        "width": 6,
        "height": 4,
        "label": "Température °C du sol ",
        "chartType": "line",
        "legend": "false",
        "xformat": "Y-M-D",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2ca02c",
            "#e6ff29",
            "#d62728",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "6afe57c6b20f7618",
        "type": "inject",
        "z": "4d807c239f67c680",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "4",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 100,
        "wires": [
            [
                "47d8cde717aae5eb",
                "ad9a0e529146af40"
            ]
        ]
    },
    {
        "id": "47d8cde717aae5eb",
        "type": "function",
        "z": "4d807c239f67c680",
        "name": "function 1",
        "func": "// Générer une valeur aléatoire entre 20 et 30 degrés Celsius\nmsg.payload = Math.round(Math.random() * 10 + 20);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 140,
        "wires": [
            [
                "8b2ab45cf710952c",
                "7026a0b9be07cdca"
            ]
        ]
    },
    {
        "id": "7026a0b9be07cdca",
        "type": "ui_gauge",
        "z": "4d807c239f67c680",
        "name": "",
        "group": "04a6154a4b09f197",
        "order": 4,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Gauge_T °C",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "38",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 260,
        "wires": []
    },
    {
        "id": "bd2643db3a37153b",
        "type": "ui_text",
        "z": "4d807c239f67c680",
        "group": "04a6154a4b09f197",
        "order": 5,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#ef6b25",
        "x": 730,
        "y": 340,
        "wires": []
    },
    {
        "id": "e1bb96167f769f5c",
        "type": "inject",
        "z": "4d807c239f67c680",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "22",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 460,
        "wires": [
            [
                "185cf9fd149918a1"
            ]
        ]
    },
    {
        "id": "ad9a0e529146af40",
        "type": "function",
        "z": "4d807c239f67c680",
        "name": "function 2",
        "func": "var now = new Date();\nvar year = now.getFullYear();\nvar month = now.getMonth() + 1;\nvar day = now.getDate();\nvar hour = now.getHours();\nvar minute = now.getMinutes();\nvar second = now.getSeconds();\n\n// Ajoute la date et l'heure actuelles à la valeur de msg.payload\nmsg.payload=\"Valeur à la date \" + day + \"/\" + month + \"/\" + year + \" à \" + hour + \":\" + minute + \":\" + second ;\n\n// Retourne le message modifié\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 340,
        "wires": [
            [
                "bd2643db3a37153b"
            ]
        ]
    },
    {
        "id": "185cf9fd149918a1",
        "type": "function",
        "z": "4d807c239f67c680",
        "name": "function 3",
        "func": "// Génère une valeur aléatoire entre 0 et 100 (pourcentage d'humidité)\nmsg.payload = Math.round(Math.random() * 100);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 460,
        "wires": [
            [
                "1f9af36c84ca3464",
                "284ca0bfe855deeb",
                "3297c8854e6ee7f6"
            ]
        ]
    },
    {
        "id": "1f9af36c84ca3464",
        "type": "debug",
        "z": "4d807c239f67c680",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 460,
        "wires": []
    },
    {
        "id": "284ca0bfe855deeb",
        "type": "ui_gauge",
        "z": "4d807c239f67c680",
        "name": "",
        "group": "a9a551e500ad4138",
        "order": 1,
        "width": 6,
        "height": 5,
        "gtype": "wave",
        "title": "Niveau",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 540,
        "wires": []
    },
    {
        "id": "3297c8854e6ee7f6",
        "type": "ui_chart",
        "z": "4d807c239f67c680",
        "name": "",
        "group": "a9a551e500ad4138",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Chart_humidité",
        "chartType": "polar-area",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#047c28",
            "#fbff29",
            "#ff0505",
            "#e8e8e8",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 800,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "559a059296c61a85",
        "type": "ui_switch",
        "z": "4d807c239f67c680",
        "name": "",
        "label": "Aciver/Désactiver",
        "tooltip": "",
        "group": "4db62d8922025444",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 970,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "f5f813763585d8c1",
        "type": "ui_slider",
        "z": "4d807c239f67c680",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "4db62d8922025444",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 990,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "9fb5917876a67648",
        "type": "inject",
        "z": "4d807c239f67c680",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "720",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 680,
        "wires": [
            [
                "0e8f62d632693f94"
            ]
        ]
    },
    {
        "id": "0e8f62d632693f94",
        "type": "function",
        "z": "4d807c239f67c680",
        "name": "function 4",
        "func": "// Fonction pour générer des valeurs d'intensité lumineuse simulées\nfunction genererIntensiteLumineuse() {\n    // Génère une valeur aléatoire entre 0 et 100 lux\n    var intensiteLumineuse = Math.floor(Math.random() * 101);\n\n    // Retourne la valeur d'intensité lumineuse\n    return intensiteLumineuse;\n}\n\n// Appelle la fonction\nvar intensiteLumineuse = genererIntensiteLumineuse();\n\n// Prépare le message avec la valeur d'intensité lumineuse\nmsg.payload = intensiteLumineuse;\n\n// Retourne le message\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 680,
        "wires": [
            [
                "df3e921541f54d4d",
                "3e4e30b599043c87"
            ]
        ]
    },
    {
        "id": "df3e921541f54d4d",
        "type": "debug",
        "z": "4d807c239f67c680",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 720,
        "wires": []
    },
    {
        "id": "3e4e30b599043c87",
        "type": "ui_gauge",
        "z": "4d807c239f67c680",
        "name": "",
        "group": "db985a1.6b4e2a8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Gauge",
        "label": "lux",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 910,
        "y": 700,
        "wires": []
    },
    {
        "id": "d6638eebf4a0df1f",
        "type": "ui_dropdown",
        "z": "4d807c239f67c680",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "4db62d8922025444",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "Champ1",
                "type": "str"
            },
            {
                "label": "",
                "value": "Champ2",
                "type": "str"
            },
            {
                "label": "",
                "value": "Champ3",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1160,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "d47d5cde18ee5ba3",
        "type": "inject",
        "z": "4d807c239f67c680",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "image",
                "v": "https://thumbs.dreamstime.com/b/groupe-de-bananes-sur-l-arbre-36502324.jpg",
                "vt": "str"
            },
            {
                "p": "qr",
                "v": "Groupe 3 20CLC03",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 960,
        "wires": [
            [
                "b336bb8a3c2b5071"
            ]
        ]
    },
    {
        "id": "b336bb8a3c2b5071",
        "type": "jimp-image",
        "z": "4d807c239f67c680",
        "name": "Get image",
        "data": "image",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "",
        "parameter1Type": "msg",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "image",
        "sendPropertyType": "msg",
        "parameterCount": 0,
        "jimpFunction": "none",
        "selectedJimpFunction": {
            "name": "none",
            "fn": "none",
            "description": "Just loads the image.",
            "parameters": []
        },
        "x": 490,
        "y": 1000,
        "wires": [
            [
                "e97a5404f4404a63",
                "8a41b9326f4c2a2e"
            ]
        ]
    },
    {
        "id": "e97a5404f4404a63",
        "type": "image viewer",
        "z": "4d807c239f67c680",
        "name": "",
        "width": 160,
        "data": "image",
        "dataType": "msg",
        "active": true,
        "x": 510,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "10fdd27a702b8826",
        "type": "jimp-image",
        "z": "4d807c239f67c680",
        "name": "base64",
        "data": "payload",
        "dataType": "msg",
        "ret": "b64",
        "parameter1": "",
        "parameter1Type": "msg",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 0,
        "jimpFunction": "none",
        "selectedJimpFunction": {
            "name": "none",
            "fn": "none",
            "description": "Just loads the image.",
            "parameters": []
        },
        "x": 1960,
        "y": 1000,
        "wires": [
            [
                "40f06bcd066fdd84"
            ]
        ]
    },
    {
        "id": "40f06bcd066fdd84",
        "type": "ui_template",
        "z": "4d807c239f67c680",
        "group": "c2339db7a0a3be24",
        "name": "",
        "order": 1,
        "width": 8,
        "height": 5,
        "format": "<div>\n\n    <img src={{msg.payload}}>\n\n\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 2100,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "8a41b9326f4c2a2e",
        "type": "jimp-image",
        "z": "4d807c239f67c680",
        "name": "Resize",
        "data": "image",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "500",
        "parameter1Type": "num",
        "parameter2": "",
        "parameter2Type": "auto",
        "parameter3": "",
        "parameter3Type": "none",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "image",
        "sendPropertyType": "msg",
        "parameterCount": 3,
        "jimpFunction": "resize",
        "selectedJimpFunction": {
            "name": "resize",
            "fn": "resize",
            "description": "resize the image. One of the w or h parameters can be set to automatic (\"Jimp.AUTO\" or -1).",
            "parameters": [
                {
                    "name": "w",
                    "type": "num|auto",
                    "required": true,
                    "hint": "the width to resize the image to (or \"Jimp.AUTO\" or -1)"
                },
                {
                    "name": "h",
                    "type": "num|auto",
                    "required": true,
                    "hint": "the height to resize the image to (or \"Jimp.AUTO\" or -1)"
                },
                {
                    "name": "mode",
                    "type": "resizeMode",
                    "required": false,
                    "hint": "a scaling method (e.g. Jimp.RESIZE_BEZIER)"
                }
            ]
        },
        "x": 710,
        "y": 1000,
        "wires": [
            [
                "e750ef31cfda1f0b"
            ]
        ]
    },
    {
        "id": "e750ef31cfda1f0b",
        "type": "jimp-image",
        "z": "4d807c239f67c680",
        "name": "Write on image",
        "data": "image",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "FONT_SANS_16_BLACK",
        "parameter1Type": "jimpFont",
        "parameter2": "280",
        "parameter2Type": "num",
        "parameter3": "2",
        "parameter3Type": "num",
        "parameter4": "Situation actuelle de la Banane à ce moment précis.",
        "parameter4Type": "str",
        "parameter5": "",
        "parameter5Type": "none",
        "parameter6": "",
        "parameter6Type": "none",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "image",
        "sendPropertyType": "msg",
        "parameterCount": 6,
        "jimpFunction": "print",
        "selectedJimpFunction": {
            "name": "print",
            "fn": "print",
            "description": "Print text to the image",
            "parameters": [
                {
                    "name": "font|str",
                    "type": "jimpFont",
                    "required": true,
                    "hint": "font to print. NOTE: This can be one of the presets or the path to a fnt file"
                },
                {
                    "name": "x",
                    "type": "num",
                    "required": true,
                    "hint": "x coordinate to print text"
                },
                {
                    "name": "y",
                    "type": "num",
                    "required": true,
                    "hint": "y coordinate to print text"
                },
                {
                    "name": "text",
                    "type": "str",
                    "required": true,
                    "hint": "text to print"
                },
                {
                    "name": "maxWidth",
                    "type": "num",
                    "required": false,
                    "hint": "wrap text at maxWidth"
                },
                {
                    "name": "maxHeight",
                    "type": "num",
                    "required": false,
                    "hint": "max height"
                }
            ]
        },
        "x": 960,
        "y": 1000,
        "wires": [
            [
                "a6226b55c37ad9eb",
                "c4d7c1a2a81757c5"
            ]
        ]
    },
    {
        "id": "a6226b55c37ad9eb",
        "type": "image viewer",
        "z": "4d807c239f67c680",
        "name": "",
        "width": 160,
        "data": "image",
        "dataType": "msg",
        "active": true,
        "x": 910,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "c4d7c1a2a81757c5",
        "type": "Barcode Generator",
        "z": "4d807c239f67c680",
        "name": "Gen QR code",
        "data": "qr",
        "dataType": "msg",
        "barcode": "qrcode",
        "barcodeType": "barcode",
        "options": "",
        "optionsType": "ui",
        "sendProperty": "qr",
        "props": [
            {
                "p": "rotate",
                "v": "N",
                "vt": "str"
            },
            {
                "p": "includetext",
                "v": "true",
                "vt": "bool"
            },
            {
                "p": "textxalign",
                "v": "center",
                "vt": "str"
            },
            {
                "p": "backgroundcolor",
                "v": "ffffff",
                "vt": "str"
            }
        ],
        "x": 1200,
        "y": 1020,
        "wires": [
            [
                "2ecdfb77237fd212",
                "9218f6d86aca9659",
                "9f6b325ea4d82446"
            ]
        ]
    },
    {
        "id": "2ecdfb77237fd212",
        "type": "image viewer",
        "z": "4d807c239f67c680",
        "name": "",
        "width": 160,
        "data": "qr",
        "dataType": "msg",
        "active": true,
        "x": 1390,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "9218f6d86aca9659",
        "type": "jimp-image",
        "z": "4d807c239f67c680",
        "name": "Resize",
        "data": "qr",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "100",
        "parameter1Type": "num",
        "parameter2": "",
        "parameter2Type": "auto",
        "parameter3": "",
        "parameter3Type": "none",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "qr",
        "sendPropertyType": "msg",
        "parameterCount": 3,
        "jimpFunction": "resize",
        "selectedJimpFunction": {
            "name": "resize",
            "fn": "resize",
            "description": "resize the image. One of the w or h parameters can be set to automatic (\"Jimp.AUTO\" or -1).",
            "parameters": [
                {
                    "name": "w",
                    "type": "num|auto",
                    "required": true,
                    "hint": "the width to resize the image to (or \"Jimp.AUTO\" or -1)"
                },
                {
                    "name": "h",
                    "type": "num|auto",
                    "required": true,
                    "hint": "the height to resize the image to (or \"Jimp.AUTO\" or -1)"
                },
                {
                    "name": "mode",
                    "type": "resizeMode",
                    "required": false,
                    "hint": "a scaling method (e.g. Jimp.RESIZE_BEZIER)"
                }
            ]
        },
        "x": 1530,
        "y": 1000,
        "wires": [
            [
                "a9188fce3390bbe9"
            ]
        ]
    },
    {
        "id": "9f6b325ea4d82446",
        "type": "Barcode Decoder",
        "z": "4d807c239f67c680",
        "name": "",
        "data": "qr",
        "dataType": "msg",
        "tryharder": "false",
        "tryharderType": "bool",
        "QR_CODE": true,
        "DATA_MATRIX": false,
        "PDF_417": false,
        "EAN_8": false,
        "EAN_13": false,
        "CODE_39": false,
        "CODE_128": false,
        "ITF": false,
        "RSS_14": false,
        "x": 1430,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "a9188fce3390bbe9",
        "type": "jimp-image",
        "z": "4d807c239f67c680",
        "name": "composite",
        "data": "image",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "qr",
        "parameter1Type": "msg",
        "parameter2": "10",
        "parameter2Type": "num",
        "parameter3": "15",
        "parameter3Type": "num",
        "parameter4": "BLEND_SOURCE_OVER",
        "parameter4Type": "Blend",
        "parameter5": "1",
        "parameter5Type": "num",
        "parameter6": "1",
        "parameter6Type": "num",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 6,
        "jimpFunction": "composite",
        "selectedJimpFunction": {
            "name": "composite",
            "fn": "composite",
            "description": "composites another Jimp image over this image at x, y",
            "parameters": [
                {
                    "name": "src",
                    "type": "",
                    "required": true,
                    "hint": "the source image (a Jimp instance)",
                    "defaultType": "msg",
                    "defaultValue": "payload"
                },
                {
                    "name": "x",
                    "type": "num",
                    "required": true,
                    "hint": "the x position to blit the image"
                },
                {
                    "name": "y",
                    "type": "num",
                    "required": true,
                    "hint": "the y position to blit the image"
                },
                {
                    "name": "mode",
                    "group": "options",
                    "type": "blend",
                    "required": true,
                    "hint": "what blend mode to use"
                },
                {
                    "name": "opacitySource",
                    "group": "options",
                    "type": "num",
                    "required": true,
                    "hint": "opacity of src image 0.0 to 1.0"
                },
                {
                    "name": "opacityDest",
                    "group": "options",
                    "type": "num",
                    "required": true,
                    "hint": "opacity of src image 0.0 to 1.0"
                }
            ]
        },
        "x": 1750,
        "y": 1000,
        "wires": [
            [
                "855d6f24d32ab7ce",
                "10fdd27a702b8826"
            ]
        ]
    },
    {
        "id": "855d6f24d32ab7ce",
        "type": "image viewer",
        "z": "4d807c239f67c680",
        "name": "",
        "width": "500",
        "data": "payload",
        "dataType": "msg",
        "active": true,
        "x": 1770,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "f37d86e49217b044",
        "type": "ui_date_picker",
        "z": "4d807c239f67c680",
        "name": "",
        "label": "date",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1490,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "44f6f69a57a55234",
        "type": "ui_spacer",
        "z": "4d807c239f67c680",
        "name": "spacer",
        "group": "04a6154a4b09f197",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "d0447e46c288a6fd",
        "type": "ui_spacer",
        "z": "4d807c239f67c680",
        "name": "spacer",
        "group": "04a6154a4b09f197",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "04a6154a4b09f197",
        "type": "ui_group",
        "name": "Température",
        "tab": "d50ed5adaf938e78",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a9a551e500ad4138",
        "type": "ui_group",
        "name": "Humidité",
        "tab": "d50ed5adaf938e78",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4db62d8922025444",
        "type": "ui_group",
        "name": "Irrigation automatique",
        "tab": "d50ed5adaf938e78",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "db985a1.6b4e2a8",
        "type": "ui_group",
        "name": "Intensité lumineuse",
        "tab": "d50ed5adaf938e78",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c2339db7a0a3be24",
        "type": "ui_group",
        "name": "Image du champ choise",
        "tab": "d50ed5adaf938e78",
        "order": 5,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d50ed5adaf938e78",
        "type": "ui_tab",
        "name": "Supérvision des données ",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]